@import "normalize";
@import "foundation";
@import "syntax";

.row {
  max-width: 940px;
}

html, body {
  background-color: #fbfbfb;
}

p, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

#header {
  padding-top: 10px;

  img{
  }
  h1{
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
}

pre {
  padding: 10px;
}