The Great Taste of the Midwest is one of the premier beer festivals in the United States. On the second Saturday in August, over one hundred brewpubs and microbreweries from the Midwest come to beautiful Olin-Turville Park overlooking lake Monona in Madison, Wisconsin, to share beer and good times with six thousand patrons.
