%h3 Lodging Information
%p
  So you want to come to the Great Taste, but are concerned about finding a hotel room in Madison or nearby? These resources can help!
%ul.side-nav
  %li
    %a{:href => "#near"} Nearby Hotels
  %li
    %a{:href => "#downtown"} Downtown Hotels
  %li
    %a{:href => "#shuttle"} Hotels Near Shuttle Stops
  %li
    %a{:href => "#other"} Other Hotels
  %li
    %a{:href => "#hostels"} Hostels
  %li
    %a{:href => "#camping"} Camping
  %li
    %a{:href => "#further"} Further Afield
%hr/
%a{:name => "near"}
%div{:style => "float:right;"}
  %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?ie=UTF8&msa=0&msid=111159063706319769811.000482b62f7c6fb4f6bdb&ll=43.059858,-89.384594&spn=0.043898,0.072956&z=13&output=embed", :width => "425"}
  %br/
  %small
    View
    %a{:href => "http://maps.google.com/maps/ms?ie=UTF8&msa=0&msid=111159063706319769811.000482b62f7c6fb4f6bdb&ll=43.059858,-89.384594&spn=0.043898,0.072956&z=13&source=embed", :style => "color:#0000FF;text-align:left"} GT Lodging
    in a larger map
%h3
  Nearby Hotels
%p
  The two hotels right next to the festival grounds are:
%a{:href => "http://www.sheratonmadison.com"} Sheraton Madison
%br/
706 John Nolen Dr.
%br/
(608) 251-2300 (local)
%br/
(866) 716-8103 (reservations)
%br/
%br/
%a{:href => "http://hiexpress.com/madisonwi"} Holiday Inn Express
%br/
722 John Nolen Dr.
%br/
(608) 255-7400.
%br/
%p
  Also within an easy 5 minute walk is:
%a{:href => "http://www.clarionhotel.com/hotel-madison-wisconsin-WI103"} Clarion Suites Madison Central
%br/
2110 Rimrock Rd
%br/
(608) 284-1234
%br/
%hr/
%a{:name => "downtown"}
%h3
  Downtown Hotels
%p
  If you want to stay downtown for some easy-walking pre/post-festival fun then these downtown hotels might be right for you:
%a{:href => "http://www.madison.doubletree.com/"} Doubletree Hotel Madison
(formerly Howard Johnson Plaza Hotel)
%br/
525 W. Johnson St.
%br/
(608) 251-5511
%br/
%br/
%a{:href => "http://www.hilton.com/en/hi/hotels/index.jhtml?ctyhocn=MSNMHHF"} Hilton Madison Monona Terrace
%br/
9 E. Wilson St.
%br/
(608) 255-5100
%br/
%br/
%a{:href => "http://www.hyattplacemadisondowntown.com"} Hyatt Place Madison
%br/
333 West Washington Avenue
%br/
(608) 257-2700
%br/
%br/
%a{:href => "http://innonthepark.net/"} Inn on the Park (Capitol Square)
%br/
22 S. Carroll St.
%br/
(608) 257-8811
%br/
%br/
%hr/
%a{:name => "shuttle"}
%h3
  Hotels Near Shuttle Stops
%p
  You can also find hotels near our
  = succeed ":" do
    %a{:href => "/great-taste-of-the-midwest/transportation#shuttles"} shuttle stops
%a{:href => "http://www.ichotelsgroup.com/h/d/sb/1/en/hotel/msnua"} Staybridge Suites Middleton/Madison West
%br/
7790 Elmwood Avenue in Middleton
%br/
(608) 662-1450
%br/
%br/
%hr/
%a{:name => "other"}
%h3
  Other Madison Hotels
%p
  For information about more of Madison's Hotels/Motels/B&B's/etc, try these:
%ul
  %li
    %a{:href => "http://www.visitmadison.com/visitorinfo/index.php?category_id=7", :target => "_top"} Greater Madison Convention & Visitors Bureau Accommodations
  %li
    %a{:href => "http://www.madison-inns.com/", :target => "_top"} Madison Small Inn and Bed & Breakfast Assoc.
%hr/
%a{:name => "hostels"}
%h3
  Hostels
%p
  The Madison Hostel is about a block away from The Great Dane Pub and Brewery, where you can catch a shuttle to the festival. Walking two blocks in the other direction will get you to the Essen Haus (German restaurant and bar) and the Come Back Inn (good micro selection). You do not need to be a hostel member to stay there!
%a{:href => "http://www.madisonhostel.org/", :target => "_top"} Madison Hostel
%br/
141 S. Butler Street, Madison, WI 53703-3415
%br/
(608) 441-0144
%br/
%hr/
%a{:name => "camping"}
%h3
  Camping
%p
  For the campers (with designated drivers) out there:
%ul
  %li
    %a{:href => "http://www.dnr.state.wi.us/org/land/parks/", :target => "_top"} Wisconsin State Parks
    \- There's camping available at nearby Lake Kegonsa State Park.
  %li
    %a{:href => "http://www.devilslakewisconsin.com/camping.html", :target => "_top"} Devil's Lake State Park
    \- More nearby camping, though a little further away.
  %li
    %a{:href => "http://www.dnr.state.wi.us/org/land/parks/specific/index.html#41"} New Glarus Woods State Park
    \- Take a New Glarus Brewing tour!
  %li
    %a{:href => "http://www.co.dane.wi.us/parks/parkhome.htm", :target => "_top"} Dane County Parks Department
    \- Follow the Park Descriptions link to see which ones have campsites.
%hr/
%a{:name => "further"}
%h3
  Further Afield
%p
  True beer enthusiasts are resourceful people who aren't deterred by little obstacles. If Madison's lodging alternatives are sold out,
  %a{:href => "http://www.vangalderbus.com/", :target => "_top"} VanGalder Bus Company
  runs buses between Madison (stops at UW Memorial Union and Broadway Street's Dutch Mill Park and Ride Lot) and Chicago's O'Hare airport, with stops in Janesville, South Beloit, and Rockford, Illinois. From the UW Memorial Union, you can walk from campus to the Great Dane Pub and Brewing Company to ride a free shuttle to and from the festival grounds. There are several hotels within walking distance of the bus depot at all three stops:
%a{:href => "http://www.basshotels.com/holiday-inn"} Holiday Inn of South Beloit
%br/
US 251 & IL 75, South Beloit IL 61080
%br/
815-389-3481 or 800-465-4329
%br/
%br/
Best Western Colonial Inn
%br/
4850 E State St, Rockford IL 61107
%br/
815-398-5050 or 800-528-1234
%br/
%br/
%a{:href => "http://www.extstay.com/", :target => "_top"} Extended Stay America
%br/
653 Clark Rd, Rockford IL 61107
%br/
815-226-8969 or 800-EXT-STAY
%br/
%br/
%a{:href => "http://www.marriott.com/", :target => "_top"} Fairfield Inn by Marriott
%br/
7712 Potawatomi Tr, Rockford IL 61108
%br/
815-397-8000 or 800-228-2800http://www.marriott.com
%br/
%br/
Super 8 Motel
%br/
7646 Colosseum Dr, Rockford IL 61108
%br/
815-229-5522
%br/
%br/
%a{:href => "http://www.swedenhouselodge.com/", :target => "_top"} Sweden House Lodge
%br/
4605 E State St, Rockford IL 61108
%br/
815-398-4130 or 800-886-4138
%br/
http://www.swedenhouselodge.com
%br/
%p
  See
  %a{:href => "/www.gorockford.com", :target => "_top"} www.gorockford.com
  for more hotel options in Rockford.
%p
  Here are some other outlying areas with lodging, if you have a designated driver available:
%a{:href => "http://www.newglarushotel.com/index.html", :target => "_top"} New Glarus Hotel
%br/
100 6th Avenue, New Glarus, Wisconsin 53574
%br/
608-527-5244 or 800-727-9477
%br/
