%h3 Transportation to the Festival
%p
  The MHTG has always had the safety or our patrons first and foremost in our minds. As such, we provide several free or inexpensive ways to get home safely, and we also encourage our patrons to make use of Madison Metro Transit buses. We ask for your cooperation in making the Great Taste a non-driving event. Have a friend drop you off and take a bus, a one-dollar taxi, or a free shuttle home.
%ul
  %li
    %a{:href => "#busses"} Buses
  %li
    %a{:href => "#shuttles"} Shuttles
  %li
    %a{:href => "#taxis"} Taxis
  %li
    %a{:href => "#parking"} Parking
  / <li><a href="#bicyles">Bicycles</a></li>
  %li
    %a{:href => "#saferide"} Saferide Program
%hr/
%a{:name => "busses", :title => "busses"}
%h3
  Madison Metro Buses
%p
  On the weekends, Olin-Turville is served by
  %a{:href => "http://www.ci.madison.wi.us/metro/metro.html", :target => "_top"} Madison Metro
  bus
  %strong 13
  with a coliseum stop on John Nolan Drive, across the road from the park entrance. Fares are $2.00 each way, or you can purchase a
  %a{:href => "http://www.cityofmadison.com/metro/fares/oneday.cfm"} One-Day Pass
  for $4.50 which is good for an unlimited number of rides per day. Please see the
  %a{:href => "http://www.cityofmadison.com/metro/schedules/Route13/index.cfm"} route 13 website
  for schedules
%img{:alt => "Madison Metro Map", :src => "http://www.cityofmadison.com/metro/schedules/Route13/13.htm4.jpg", :style => "border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 400px; "}/
%hr/
%a{:name => "shuttles", :title => "shuttles"}
%h3
  Shuttles
%p
  %a{:href => "http://www.capital-brewery.com/"} The Capital Brewery
  on the far west side, the four Madison
  %a{:href => "http://www.greatdanepub.com/"} Great Dane
  locations,
  = succeed "," do
    %a{:href => "http://www.alchemycafe.net"} The Alchemy Café
  = succeed "," do
    %a{:href => "http://http://www.dexterspubmadison.com/"} Dexter's Pub
  = succeed "," do
    %a{:href => "http://www.isthmus.com/going-out/theguide/venue.php?id=1038"} The Weary Traveler
  %a{:href => "http://www.aleasylum.com/"} The Ale Asylum
  on the far east side, and
  %a{:href => "http://www.graystiedhouse.com"} Gray's Tied House
  in Verona will all have free shuttles to the festival. Shuttle buses begin operating from each site to Olin-Turville Park at noon. The festival grounds open at 1pm. Shuttles run continuously to and from each site from noon until 7 p.m.
  %a{:href => "http://vintagebrewingco.com"} Vintage Brewing Company
  will also be offering shuttle service using their own bus with stops at the brewery and the capitol square. Please check with them for details.
%p
  Coming to the festival with a full belly of food from one of our shuttle stops is an excellent way to prepare for a day of beer sampling.
%br/
%iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=111159063706319769811.000450a9b78d376c8caaf&ll=43.089952,-89.435921&spn=0.175506,0.291824&z=11&output=embed", :width => "425"}
%br/
%small
  View
  %a{:href => "http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=111159063706319769811.000450a9b78d376c8caaf&ll=43.089952,-89.435921&spn=0.175506,0.291824&z=11", :style => "color:#0000FF;text-align:left"} Great Taste Shuttle Locations
  in a larger map
%hr/
%a{:name => "taxis", :title => "taxis"}
%h3
  Taxis
%p
  %a{:href => "http://www.unioncab.coop/"} Union Cab
  is the official cab company of the Great Taste of the Midwest. MHTG subsidizes fares home from the festival to any residence or hotel in Dane county. Please be sure to tip!
%hr/
%a{:name => "parking", :title => "parking"}
%h3
  Parking
%p
  There is no patron parking at the festival. Parking is available at the many downtown area parking ramps. The maximum charge for parking in one of the ramps is $3 per day on weekends. See the
  %a{:href => "http://www.ci.madison.wi.us/parking/parking.html"} city parking website
  for more information and applicable hours.
%img{:alt => "Madison Parking Ramps", :src => "http://www.cityofmadison.com/parkingutility/images/downmap.jpg", :style => "border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; "}/
/
  <hr />
  <a name="bicycles" title="bicycles"></a>
  <h3>Bicycles</h3>
  
  <p>There are no bicycle racks at Olin-Turville park, so for the safety of your bicycle and the park, please use one of the other transportation options available.</p>
%hr/
%a{:name => "saferide", :title => "saferide"}
%h3
  Wisconsin Tavern League Saferide Program
%p
  The Tavern League of Wisconsin operates a
  = succeed "," do
    %a{:href => "http://www.tlw.org/public/saferide.shtml"} Saferide program
  which can be used to get home from area bars and restaurants.
